// Переменные для цвета ------------------------------------------------------------------------------------------------
$dark-blue: #040D21;
$light-grey: #E3E3E3;
$main-blue: #6ca6fc;
$white: #ffffff;
$grey-1: #f3f3f3;
$grey-2: #DBDBDB;
$grey-3: #F2F2F2;
$grey-4: #BDBDBD;
$grey-5: #818181;
$grey-6: #3284FF;
$grey-7: #8193B2;
$black-1: #353535;
$black-2: #2E2E2E;
$black-3: #2B384F;

$text-dark-blue: $dark-blue;
$text-white: $white;
$text-main-blue: $main-blue;
$text-light-grey: $light-grey;
$text-grey-1: $grey-1;
$text-grey-2: $grey-2;
$text-grey-3: $grey-3;
$text-grey-4: $grey-4;
$text-grey-5: $grey-5;
$text-grey-6: $grey-6;
$text-grey-7: $grey-7;
$text-black-1: $black-1;
$text-black-2: $black-2;
$text-black-3: $black-3;

$border-dark-blue: $dark-blue;
$border-main-blue: $main-blue;
$border-light-grey: $light-grey;
$border-white: $white;
$border-grey-1: $grey-1;
$border-grey-2: $grey-2;
$border-grey-3: $grey-3;
$border-grey-4: $grey-4;
$border-grey-5: $grey-5;
$border-grey-6: $grey-6;
$border-grey-7: $grey-7;
$border-black-1: $black-1;
$border-black-2: $black-2;
$border-black-3: $black-3;

$background-dark-blue: $dark-blue;
$background-main-blue: $main-blue;
$background-light-grey: $light-grey;
$background-white: $white;
$background-grey-1: $grey-1;
$background-grey-2: $grey-2;
$background-grey-3: $grey-3;
$background-grey-4: $grey-4;
$background-grey-5: $grey-5;
$background-grey-6: $grey-6;
$background-grey-7: $grey-7;
$background-black-1: $black-1;
$background-black-2: $black-2;
$background-black-3: $black-3;

$time: 500ms;

$font-text: 'Montserrat', Arial, Helvetica, sans-serif;